* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/*remove o espaço em branco em cima do menu*/

html{
    background-color: rgb(31, 31, 31);
}

.fig-menu{
    display: inline-block;
}
.logo-menu{
    max-width: 50px;
    float: left;  
}

#menu_h{
    background-color: rgb(78, 72, 72);
}

#menu_h ul {
    padding: 0;
    display: inline;
}

#menu_h ul li {
    display: inline;
}

#menu_h ul li a {
    color: #FFF;
    padding: 24px;
    margin-top: 0;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu_h ul li a:hover {
    background-color: rgb(24, 139, 233);
}
/*qual será a cor quando o mouse passar por cima*/

#menu_h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}
nav{
    margin: 0;
}
.img_topo{
    text-align: center;
    margin-top: 30px;
    opacity: 50%;
}
.container_sl{
    width: 100%;
}